<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hex</title>
</head>

<body>
  <div id="board">
    {{#each gameState.board}}
    <div style="margin-left:{{@index}}0px;">
      {{#each this}}
      <span>{{this.value}}</span>
      {{/each}}
    </div>
    {{/each}}
  </div>
</body>

</html>