<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hex</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <h1>Start a new Hex game</h1>
  <form action="/games" method="post">
    <label for="size">Board size:</label><br>
    <input type="number" id="size" name="size" value="19" data-cy="size"><br>
    <input type="submit" value="Submit" data-cy="submit">
  </form>
  <p>OR</p>
  <form action="/games" method="post">
    <input type="hidden" name="fromFile" value="true" />
    <input type="submit" value="Start a new game from a config file">
  </form>
</body>

</html>